/* SPDX-License-Identifier: AGPL-3.0-or-later */

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: inherit;
	overflow: hidden;
}

.pane {
	display: flex;
	flex-direction: column;
	gap: inherit;
	flex: 0 0 auto;
	width: 100%;
}

.actions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
}

.actions > * {
	flex: 0 0 auto;
	min-width: fit-content;
}

:global(html.mobile-layout) .actions {
	align-items: stretch;
	flex-direction: column-reverse;
	justify-content: flex-start;
}

:global(html.mobile-layout) .actions > * {
	min-width: 0;
	width: 100%;
}

:global(html.mobile-layout) .actions button {
	width: 100% !important;
}
